# Ignore everything Terraform-related inside terraform/ directory

# Local .terraform directories
terraform/**/.terraform/

# Terraform state files
terraform/**/*.tfstate
terraform/**/*.tfstate.*

# Crash logs
terraform/**/crash.log

# Override and variable files (often contain secrets)
terraform/**/*.tfvars
terraform/**/*.tfvars.json
terraform/**/secrets.tfvars

# Terraform plan files
terraform/**/*.tfplan

# Terraform CLI config files (if any)
terraform/**/.terraformrc
terraform/**/terraform.rc
